body {
	background-color:#edcd9a;
	font-family: 'Montserrat', sans-serif;
}
.menu {
	font-weight: bold;
	font-size: 1vw;
}
.menu a {
	color:rgba(0,0,0, 0.8);
	
}
.menu a:hover {
	color:black;
	text-decoration: none;

}
.item {
	padding-bottom:5px;
}
.selected, .item:hover {
	color:black;
	border-bottom: 2px solid black;
}

p {
	text-indent: 20px;
	text-align: justify;
	line-height: 30px;
}

.wrapper {
	background-color: #846a44;
}

